
  <div class="devindex">
    <div class="devices">
        <div class="cards">
          <h1><%= @device_name %></h1>
            <ul class= "flexy" id="otis">
              <% @devices.each do |device| %>
                <%= link_to device_path(device) do  %>
                  <li>
                    <div class="device-infos">

                      <p class="device_name"><%= device.name %></p>
                      <div class="device_category <%= device.category %>">
                        <i><%= device.category %></i>
                      </div>

                      <p class="device_price"><span><%= device.price %></span>€ / day</p>

                    </div>

                    <div class="device_photo">
                      <% if device.photo.attached? %>
                        <%= cl_image_tag device.photo.key, width: 200, height: 150, class: "img-fit" %>
                      <% else %>
                        <%= cl_image_tag 'kh2rnf8lhwhifjnpdvsu7rwz8enp', width: 200, height: 150, class: "img-fit" %>
                      <% end %>
                    </div>
                  </li>
              <% end %>
            <% end %>
            </ul>
        </div>
    </div>
    <div id="map"
       style="width: 45%; height: 200px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
