<div class="container">
  <div class="resa-card adding-d">
    <div class="card-flex-add">
      <h1>Add a device</h1>
      <%= simple_form_for(@device) do |f| %>
      <%= f.input :name, label: "Device name :" %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= p "Category :" %>
      <%= f.select :category, ['Choose a category', 'Soundcard', 'Synthesizer', 'Microphone', 'Speakers']%>
      <br>
      <br>
      <div class="btn-card">
      <%= f.submit class: "button-add" %>
      <%= link_to 'Back', devices_path, class: "button-add", id: "back" %>
      </div>
    <% end %>
    </div>
    
  </div>
  
</div>

