<div class="container">
  <div class="resa-card">
    <div class="card-flex">
    <div class="">
    <% if policy(Device).create? %>
        <h2 id="title"><%= @device.name %></h2>
        <p><%= @device.address %></p>
        <p><%= @device.description %>  </p>
        <hr>
        <% if @device.photo.attached? %>
          <%= cl_image_tag @device.photo.key, height: 300, crop: :fill, class: "img" %>
        <% end %>
      <% end %>
    </div>
      <div class="form">
      <%= simple_form_for([@device, @reservation]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.submit class: "button" %>
      <% end %>
        
      <%#= form_for :reservation, url: device_reservations_path(@device.id), method: :post do |f| %>
        <%#= f.date_field :start_date, placeholder: "Start Date" , class: "form-date" %>
        <%# <br> %>
        <%#= f.date_field :end_date, placeholder: "End Date", class: "form-date" %>
        <%# <br> %>
        <%#= button_tag( :class => "button") do %>
          <%# Book <%= @device.name ! <i class="far fa-calendar-check"></i> %>
        <%# end %>
      <%# end %>
      </div>
    </div>
  </div>
</div>

<%#= link_to 'Back', devices_path, class: "btn btn-primary" %> |
        <%# if policy(@device).destroy? %>
          <%#= link_to "Remove",
                    device_path(@device),
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        <%# end %>