<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% if policy(Device).create? %>
        <h1><%= @device.name %></h2>
        <p><%= @device.name %></p>
        <hr>
        <% if @device.photo.attached? %>
          <%= cl_image_tag @device.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <hr>
        <%= link_to 'Back', devices_path, class: "btn btn-primary" %> |
        <% if policy(@device).destroy? %>
          <%= link_to "Remove",
                    device_path(@device),
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        <% end %>
        <hr>
      <% end %>
      <%= link_to "Add a reservation", new_reservation_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
